__pycache__/
/Old/
/Results/
/Data/
/.vscode/
/src/find_energydroughts/data/
/src/find_energydroughts_region/data/
/src/notebooks_unused/
/src/old_python_country_based/
/ERA5_downloading/
ruff.toml
/Trash/
/Scripts_Karin_Lieke/
/src/__pycache__/
/src_v0/
/src/notebooks_unused/